@import './../variables';

.cart {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.title {
		display: flex;
		align-items: center;
		font-size: 32px;
		color: #fff;

		svg {
			position: relative;
			top: -2px;
			width: 30px;
			height: 30px;
			margin-right: 10px;

			path {
				stroke: #fff;
				stroke-width: 1.9;
			}
		}
	}

	&__clear {
		display: flex;
		align-items: center;
		border: none;
		background: transparent;
		cursor: pointer;
		@include noselect();

		span {
			display: inline-block;
			margin-left: 7px;
			color: #b6b6b6;
			font-size: 18px;

			@media(max-width: 500px) {
				display: none;
			}
		}

		span,
		svg,
		path {
			transition: all $duration ease-in-out;
		}

		&:hover {
			svg {
				path {
					stroke: darken($color: #b6b6b6, $amount: 10);
				}
			}

			span {
				color: darken($color: #b6b6b6, $amount: 10);
			}
		}
	}

	&__item {
		display: flex;
		width: 100%;
		border: 1px solid $orange;
		border-radius: 5px;
		padding: 10px;
		background: #fff;
		margin-top: 30px;
		position: relative;

		@media(max-width: 767px) {
			flex-direction: column;
		}

		&-wrap {
			display: flex;
			width: 50%;
		}

		&-left {
			@media(max-width: 991px) {
				width: 250px;
				flex-shrink: 0;
			}

			@media(max-width: 767px) {
				width: 100%;
				padding-right: 50px
			}
		}

		&-right {
			@media(max-width: 991px) {
				width: 100%;
			}

			@media(max-width: 767px) {
				justify-content: space-between;
			}
		}

		&-img {
			display: flex;
			align-items: center;
			margin-right: 15px;
			width: 80px;
			flex-shrink: 0;

			@media(max-width: 500px) {
				width: 60px;
			}

			img {
				width: 100%;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;

			h3 {
				font-weight: bold;
				font-size: 22px;
				line-height: 1.2;
				letter-spacing: 0.01em;
				color: #000;

				@media(max-width: 991px) {
					font-size: 20px;
				}

				@media(max-width: 500px) {
					font-size: 18px;
				}
			}

			p {
				font-size: 18px;
				color: #8d8d8d;
			}
		}

		&-count {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 26%;

			@media(max-width: 991px) {
				min-width: 100px;
				flex-shrink: 0;
			}

			&-minus {
				svg {
					path:first-of-type {
						display: none;
					}
				}
			}

			b {
				font-size: 22px;
				color: #000;
			}
		}

		&-price {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 66%;

			@media(max-width: 767px) {
				width: auto;
			}

			b {
				font-weight: bold;
				font-size: 22px;
				letter-spacing: 0.01em;
				color: #000;

				@media(max-width: 767px) {
					font-size: 36px;
				}
			}
		}

		&-remove {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 8%;

			@media(max-width: 767px) {
				position: absolute;
				top: 15px;
				right: 15px;
			}

			@media(max-width: 500px) {
				top: 5px;
				right: 5px;
			}


		}
	}

	&__bottom {
		margin: 50px 0;

		&-details {
			display: flex;
			justify-content: space-between;

			span {
				font-size: 22px;
				color: #fff;

				b {
					color: #fff;
				}

				&:last-of-type {
					b {
						color: $orange;
					}
				}
			}
		}

		&-buttons {
			display: flex;
			justify-content: space-between;
			margin-top: 40px;




		}
	}


}