@import './../variables';


.order-form {
	&__title {
		margin: 20px 0;
	}

	&__details {
		font-size: 22px;
		margin-bottom: 20px;
		font-weight: 700;

		b {
			color: $orange
		}
	}
}

.form {
	text-align: center;
}

.input {
	height: 50px;
	width: 100%;
	padding: 0 35px 0 35px;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid $orange;
	outline: none;
	background: #000;
	color: #fff;

	&-block {
		position: relative;
		padding-bottom: 20px;
	}

	&-error {
		color: red;
		position: absolute;
		bottom: 5px;
		left: 5px;
		font-size: 12px;
		font-weight: 700;
	}
}

.message {
	text-align: center;

	&__icon {
		width: 70px;
		height: 70px;
	}

	&__text {
		font-size: 22px;
		font-weight: 700;
	}

	&_success {
		.message {
			&__text {
				color: $green;
			}

			&__icon {
				animation: scaleIcon 0.5s;
			}
		}
	}

	&_loading {
		.message {
			&__text {
				color: #000;

			}

			&__icon {
				width: 150px;
				height: 150px;
			}
		}
	}

	&_error {
		.message {
			&__text {
				color: $red;
			}

			&__icon {
				animation: scaleIcon 0.5s;
			}
		}
	}
}

@keyframes scaleIcon {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}