@import './../variables';
.pagination{
    display: flex;
    li{
        display: flex;
        width: 40px;
        height: 40px;
        border: 1px solid $orange;
        overflow: hidden;
        cursor: pointer;
        border-radius: 50%;
        padding: 0;
        margin: 0 5px;
        &.disabled{
            opacity: 0.5;
            cursor: text;
        }
        &.selected{
            background: $orange;
            a{
                color: #fff
            }
        }
        a{
            width :100%;
            height: 100%;
            color: $orange;
            display: flex;
        justify-content: center;
        align-items: center;
        }
    }
}